@model LaidigSystemsC.Models.DataLogMonitouch

@{
    ViewBag.Title = "EditMonitouch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditMonitouch</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DataLogMonitouch</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TimeDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G12000, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G12000, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G12000, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.M12000, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.M12000, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.M12000, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G11301, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G11301, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G11301, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G11300, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G11300, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G11300, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G11401, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G11401, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G11401, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G11400, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G11400, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G11400, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P11400, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P11400, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P11400, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G10100, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G10100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G10100, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G10101, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G10101, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G10101, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G10102, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G10102, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G10102, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P10103, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P10103, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P10103, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P10104, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P10104, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P10104, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F10100, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F10100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F10100, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.G11001, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.G11001, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.G11001, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.T11001, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.T11001, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.T11001, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.T11002, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.T11002, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.T11002, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DataLogMonitouch")
</div>
