@model IEnumerable<LaidigSystemsC.Models.DataLogAB>

@{
    ViewBag.Title = "ImportA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style = "margin-top:69px;">
    @Html.ActionLink("Back", "Index")
</p>
<p>@ViewBag.Message</p>
<p>@ViewBag.Error</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG12000)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIM12000)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG11301)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG11300)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG11401)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG11400)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIP11400)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG10100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG10101)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG10102)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIP10103)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIP10104)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIF10100)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIG11001)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIT11001)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LMIT11002)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.LocalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG12000)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIM12000)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG11301)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG11300)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG11401)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG11400)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIP11400)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG10100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG10101)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG10102)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIP10103)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIP10104)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIF10100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIG11001)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIT11001)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LMIT11002)
        </td>
        <td>
            @Html.ActionLink("On", "On", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Off", "Off", new { id=item.Id })
        </td>
    </tr>
}

</table>
