@model  LaidigSystemsC.Models.DelayedUpload
@{
    ViewBag.Title = "DelayedUploadSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h3 style="margin-top:69px;">@ViewBag.Message</h3>

@using (Html.BeginForm("DelayedUploadSingle", "DelayedUplaod", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DatalogAB File upload</legend>

        <div class="editor-label">
            <label>DatalogAB Files:</label>
        </div>
        <div class="editor-field">
            <input type="file" name="fileNames" multiple="multiple" id="fileNames" />
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        @Html.Label("Select Type")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.RadioButton("rbGrp", "1", isChecked: false) @Html.Label("Delayed Upload")
                        @Html.RadioButton("rbGrp", "2", isChecked: false) @Html.Label("Instant Upload")
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p>
                <input type="submit" value="DatalogAB Files Upload" id="btnSubmit" />
            </p>
        </div>
    </fieldset>
}
@*<script>
        function validate() {
            if ($('#files').val() == '') {
                alert('Please select file');
                return false;
            }
        }
    </script>*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
